.btn {
  @apply inline-block border border-transparent duration-300 transition-colors rounded-full appearance-none text-sm;

  // &.btn-large:not(.btn-transparent) {
  //   @apply px-10 py-5;
  // }
  // &.btn-small:not(.btn-transparent) {
  //   @apply px-5 py-2.5;
  // }
  // &.btn-transparent {
  //   @apply bg-transparent text-current p-0 hover:underline;
  // }
  &.btn-primary {
    @apply bg-transparent border border-black text-black uppercase text-sm no-underline cursor-pointer py-1 px-2 rounded-md;
  }
  &.btn-secondary {
    @apply text-white uppercase text-sm no-underline cursor-pointer;
  }
}
