@use "sass:math";

.cm-contained {
    @apply container;
}
.default-grid {
    @apply grid grid-cols-12 gap-4 lg:gap-x-12;

    &.half-grid {
        @apply grid-cols-6;
    }
}

$padding-list:('pt', 'pl', 'pr', 'pb');
$margin-list:('mt', 'ml', 'mr', 'mb');
$class-list:(
    'none': 0,
    'rem1': 4,
    'rem2': 8,
    'rem4': 16,
    'rem6': 24,
    'rem8': 32,
    'rem10': 40,
    'rem12': 48,
    'rem16': 64,
    'rem20': 80
);

@each $key, $val in $class-list{
    @each $pkey in $padding-list{
        .cm-#{$pkey}-#{$key} {
            @if $key == 'none' {
                @apply #{$pkey}-0;
            } @else {
                @apply #{$pkey}-#{math.floor(math.div($val, 2))} md:#{$pkey}-#{$val};
            }
        }
    }
    @each $mkey in $margin-list{
        .cm-#{$mkey}-#{$key} {
            @if $key == 'none' {
                @apply #{$mkey}-0;
            } @else {
                @apply #{$mkey}-#{math.floor(math.div($val, 2))} md:#{$mkey}-#{$val};
            }
        }
    }
}

// Eyebrow spacing rule
.eyebrow {
    margin-bottom: 1.875rem;
}

// H6 spacing rule
h6 {
    margin-bottom: 2rem;
    line-height: 1.3;
}
